<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}"/>
    <script src="../static/js/angular.js" th:src="@{/js/angular.js}"></script>
    <script src="../static/js/angular-ui-router.js" th:src="@{/js/angular-ui-router.js}"></script>
    <script src="../static/js/App.js" th:src="@{/js/app.js}"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myController">
        <p>{{carname}}</p>
    </div>
    asdasdasdasdas
</body>
</html>

